<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryApplication.Properties.Settings.connString" connectionString="Data Source = .\SQLEXPRESS; Initial catalog = InventoryDatabase; Trusted_Connection = True; TrustServerCertificate = True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
